.footer {
  width: 100%;
  max-width: 1110px;
  height: 79px;
  display: flex;

  margin: 87px 165px 91px;
}

.footer > * {
  height: 100%;
}

.footer .logo {
  display: flex;
  align-items: flex-start;
  margin-right: 138px;
}

.footer .info {
  width: 366px;
  margin-right: auto;
}

.footer .info p {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

}

.footer .social {
  width: 100px;

  justify-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .social .icon {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .social .icon:hover > svg path {
  cursor: pointer;
  fill: var(--color-orange);
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 696px;
    height: 143px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer > * {
    height: unset;
  }

  .footer .logo {
    width: 696px;
    height: 32px;
    margin-bottom: 32px;
    margin-right: 0;
  }

  .footer .info {
    width: 366px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    max-width: 327px;
    height: 253px;
  }

  .footer .info {  
    margin-bottom: 64px;
  }
}
